<div id="content">
	<%= form_for(@question) do |f| %>
		<% if @question.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

	      <ul>
	      <% @question.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
		<h3><%= t('short') %> <span class="small_text"><%= t('words_limited') %></span></h3>
		<%= f.text_area :short, :placeholder => "Keep short" %>
		<span class="text-counter"></span>
		<h3><%= t('long') %> <span class="small_text"><%= t('long_additional') %></span></h3>
		<%= f.text_area :long, :placeholder => "Optional, add more detail as you want" %>
		<%= f.check_box :anonymous %> <%= f.label t 'anonymous_ask' %>
		<h3><%= t('topic') %> <span class="small_text"><%= t('excerpt_by_some_words') %></span></h3>
		<%= f.text_field :topic_list, :autocomplete => autocomplete_topic_name_topics_path, :delimiter => ",", :class => "autocomplete" %>
		<h3><%= t('add_reward') %> <span class="small_text"><%= t('current_money') %><%= current_user.money %></span></h3>
		<%= f.text_field :reward, :class => "tf" %>
		<%= f.submit t('send'), :class => "submit" %>
	<% end %>
</div>