<table>
	<tbody>
		<th>Name</th>
		<th>Question</th>
		<th>Topics</th>
		<th>Answers Count</th>
		<th>Created_at</th>
		<th>Detail</th>
		<th>Answered</th>
		<th>Operation</th>
		<% @questions.each do |question| %>
				<tr id="question_<%= question.id%>">
					<td><%= question.user.name %></td>
					<td><%= question.markdown4short %></td>
					<td>
						<% question.topics.each do |topic| %>
							<%= topic.name %>
						<% end %>
					</td>
					<td><%= question.answers.count %></td>
					<td><%= question.created_at.strftime("%H:%M:%S %m/%d/%Y").downcase %></td>
					<td><%= link_to 'See', superusers_show_url(:id => question.id) %></td>
					<% if !question.answers.where(:user_id => current_user.id).present? and question.user != current_user %>
					<td>False</td>
					<% else %>
					<td>True</td>
					<% end %>
					<td><%= link_to 'Delete', superusers_destroy_question_url(:id => question.id), :remote => true %></td>
				</tr>
		<% end %>
	</tbody>
</table>