<div class="subheader">
	<h1><%= @user.name %></h1>
</div>
<div class="user_information">
	<div class="user_left">
		<div class="gravatar">
			<%= image_tag @user.gravatar_url(:size => 128) %>
		</div>
		<div class="money"><%= cny @user.money %></div>
	</div>
	<div class="user_right">
		<table id="profile">
			<tbody>
				<tr>
					<td>E-Mail</td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td><%= t 'gender' %></td>
					<td><%= @user.gender %></td>
				</tr>
				<tr>
					<td><%= t 'age' %></td>
					<td><%= Time.now.year - @user.birthday.year if @user.birthday %></td>
				</tr>
				<tr>
					<td><%= t 'roles' %></td>
					<td><% if @user.roles %>
							<% @user.roles.each do |role| %>
							<span class="bullet"> · </span>
							<%= t "#{role}" %>
							<% end %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= t 'join_time' %></td>
					<td><%= time_ago_in_words @user.created_at %></td>
				</tr>
				<tr>
					<td><%= t 'recent_login' %></td>
					<td><%= time_ago_in_words @user.current_sign_in_at %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="main">
	<h1>Records</h1>
<table>
	<tbody>
		<tr>
			<th><%= t 'serial_number' %>
			<th><%= t 'occur_time' %></th>
			<th><%= t 'excerpt' %></th>
			<th><%= t 'reason' %></th>
			<th><%= t 'type' %></th>
			<th><%= t 'amount' %></th>
			<th><%= t 'status' %></th>
		</tr>
<% @records.each do |record| %>
	<% if record.reason == "recharge" %>
		<tr>
			<td><%= record.sn %></td>
			<td><%= record.created_at.strftime("%Y-%m-%d %H:%M:%S").downcase %></td>
			<td><%= record.description %></td>
			<td><%= t record.reason %></td>
			<td><%= t record.io %></td>
			<td><%= cny record.amount %></td>
			<td><%= t record.status %></td>
		</tr>
	<% else %>
		<tr>
			<td><%= record.sn %></td>
			<td><%= record.created_at.strftime("%Y-%m-%d %H:%M:%S").downcase %></td>
			<td><%= record.description %></td>
			<td><%= t record.reason %></td>
			<td><%= t record.io %></td>
			<td><%= cny record.amount %></td>
			<td><%= t record.status %></td>
		</tr>
	<% end -%>
<% end %>
		</tbody>
	</table>
	<h1><%= @questions.count %> Questions You've Asked</h1>
	<div class="questions" class="clearfix">
		<%= render :partial => "partials/list", :collection => @questions, :as => :question %>
	</div>
 
	<h1><%= @answers.count %> Answers You've Given</h1>
	<div class="questions" class="clearfix">
		<%= render :partial => "partials/answered", :collection => @answers, :as => :answer %>
	</div>
  
</div>
